@font-face {
    font-family: OdibeeSans;
    src: url(font/OdibeeSans-Regular.ttf);
}

body{
    background-image: linear-gradient(to right,#35654d, #4dbe86);
    font-family: OdibeeSans;
}

.container{
    text-align: center;
    background-image: url(img/deckBG.jpg);
    width: 30%;
    height: 250px;
    transform: translate(110%,80%);
    border: 4px solid gold;
    border-radius: 10px;
    color: white;
}

h1{
    font-size: 3em;
}

.btn{
    width: 30%;
    background-color: rgb(77, 73, 73);
    color: white;
    font-size: 3em;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin: 0 1% 0% 1%;
    font-family: OdibeeSans;
    transform: translateY(90%);
    animation: btnGlow ease-in-out 2s infinite alternate;
    cursor: pointer;
}

.btn1{
    position: relative;
    left: 10%;
}

.btn2{
    position: relative;
    width: 20%;
    font-size: 1.3em;
    left: 20%;
    top: 13%;
}

@keyframes btnGlow {
    from {text-shadow: 0 0 20px #fff, 0 0 30px #fff ;}
    to {text-shadow: 0 0 0px #fff, 0 0 0px #fff ;}
}



/* .btn:hover{
    color: white;
    text-shadow: 0 0 20px #fff, 0 0 30px #fff ;
} */

.cardsImg1{
    position: absolute;
    width: 10%;
    left: 27.5%;
    top: 16%;
    transform: rotate(-30deg);
    animation: anim2 ease 2s infinite alternate;
}

.cardsImg2{
    position: absolute;
    width: 10%;
    left: 60%;
    top: 16%;
    transform: rotate(30deg);
    animation: anim ease 2s infinite alternate;
}

@keyframes anim{
    0%   {transform: rotate(30deg);}
  25%  {transform: rotate(20deg);}
  50%  {transform: rotate(10deg);}
  75%  {transform: rotate(20deg);}
  100% {transform: rotate(30deg);;}
}

@keyframes anim2{
    0%   {transform: rotate(-30deg);}
  25%  {transform: rotate(-20deg);}
  50%  {transform: rotate(-10deg);}
  75%  {transform: rotate(-20deg);}
  100% {transform: rotate(-30deg);;}
}

.popup{
    position: fixed;
    top: 20%;
    left: 35.7%;
    transform: scale(0);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    color: black;
    width: 500px;
    max-width: 80%;
    transition: 200ms ease-in-out;
}

.popup.active{
    transform: scale(1);
}

.popupHeader{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: 1.8rem;
    font-weight: bold;
}

.closeBtn{
    cursor: pointer;
    border: none;
    outline: none;
    background:none;
    font-size: 1.5rem;
    font-weight: bold;
}

.popupBody{
    padding: 10px 15px;
    font-size: 1.5rem;
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0,.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}